{
  "editor.formatOnSave": true,
  "prettier.singleQuote": true,
  "prettier.printWidth": 80,
  "[javascript]": {
    "editor.defaultFormatter": "esbenp.prettier-vscode"
  },

  "tabWidth": 2,
  "useTabs": false
}
